*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;    
  /* background-image: linear-gradient(purple,rgb(238, 48, 238)); */
  background-color: #b56bd0;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  /* box-shadow: 2px 2px 10px 1px rgb(102, 3, 102); */
  box-shadow: 2px 2px 10px 1px #333;  
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.heading-txt{
  color:white;
  /* color:#276272; */
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  text-align: center;  
  text-transform: uppercase;
}
.question{
  margin:8px;
  box-shadow: 0px 0px 10px 1px #a2a3a3;
  border-radius: 5px;
  padding:5px;
  font-size: large;
  font-weight: 600;
  min-width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#question-number{
  margin-right: 5px;
}
.option-container{
  display: flex;
  flex-direction: column;
  margin:6px 4px;    
  width: 100%;
  padding: 10px;
}
/* .option-container input{
  visibility: hidden;    
} */
.option-btn{
  box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
  padding: 5px;
  border-radius: 3px;
  border:none;
  outline: none;
  transition: 0.3s;
  margin: 5px;
  min-height: 30px;
  background-color: white;
}

.checked{
  background-color: rgb(179, 83, 179);
  color:white;
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.option-btn:hover{
  background-color: rgb(212, 118, 212);
  color:white;
}
#next-button{
  padding:10px;
  border:none;
  background-color: purple;
  background-color: #276272;
  color:white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: larger;
  font-weight: bold;
  transition: 0.2s;
  width:100px;
  position: absolute;
  bottom: 15px;
}
#next-button:active{
  box-shadow:none;    
}
.show-score{
  position: absolute;
  top:30%;
  font-size: 40px;
  text-align: center;  
}