@import "../App.css";

::-webkit-scrollbar {
    width: 8px;  
}

::-webkit-scrollbar-track {
    backdrop-filter: blur(10px);
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb {
    background: #4CAF50;  
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
    background: #45A049;  
}

::-webkit-scrollbar-thumb:active {
    background: #388E3C;  
}



.chatwith{
    width: 45%;
    height: 630px;
    display: flex;
    flex-direction: row;
}
.features {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.features .item {
    margin-top: 13px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    font-size: 20px;
    margin-left: 3px;
    border-right: 3px solid rgb(16, 166, 116);
    border-radius: 8px;
    cursor: pointer;
}
#item4 {
    margin-top: 420px;
}
.secondDiv {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(16, 166, 116);
    border-radius: 10px 0px 0px 0px;
}
.secondDiv .searchbar {
    width: 100%;;
    height: 70px;
    border-bottom: 2px solid wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchinput {
    margin-top: 20px;
}
.secondDiv .frdsList {
    width: 100%;
    height: 550px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hide{
    display: none !important;
}

.frdsList .personTochat {
    width: 100%;
    height: 100px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    border: 1px solid sienna;
}

.frdsList .personTochat .textdiv {
    width: 310px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.frdsList .personTochat .textdiv div {
    margin-top: 18px;
}

.frdsList .personTochat .imgdiv {
    width: 100px;
    height: 100px;
    flex-direction: column;
}

.frdsList .personTochat .textdiv .personEmail {
    width: 270px;
    height: 26px;
    margin-left: 10px;
    font-size: 18px;
    padding-left: 2px;
    font-weight: var(--fw-500);
    backdrop-filter: blur(10px);
    border-left: 3px solid rgb(16, 166, 116);
    border-radius: 10px;
}

.frdsList .personTochat .textdiv .lastmsg{
    width: 270px;
    height: 20px;
    margin-left: 20px;
    font-size: 14px;
    padding-left: 4px;
    backdrop-filter: blur(2px);
    border-left: 3px solid var(--red-orange-creyola);
    border-radius: 10px;
}


.frdsList .personTochat .imgdiv  .onlinedot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 10px;
    background-color: black;
}
.frdsList .personTochat .imgdiv .profilephoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
    left: 10px;
}

.frdsList .personTochat .imgdiv .profilephoto img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nofrdsimg {
    width: 120px;
    height: 120px;
    margin-top: 150px;
    margin-left: 130px;
    background-image: url("../assets/nofrds.png");
    background-size: 120px;
    backdrop-filter: blur(10px);
}

.addfrdstxt {
    width: 220px;
    height: 20px;
    margin-left: 80px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}